.btn {
    border-radius: 8px;
    border: none;
    padding: 12px 24px;
    width: 100%;
    cursor: pointer;
    outline: 0;
    max-height: 48px;
}
a.btn {
    text-decoration: none;
}

.btn-next, .btn-submit {
    background-color: $color-main;
    color: white;
}

.btn-submit {
    background-color: $color-complementary;
    padding: 8px 24px;
    color: rgb(43, 43, 43);
}
.btn-bordered {border: 1px solid rgba(43, 43, 43, .6);}
.btn-secondary {
    background-color: transparent;
}

.btn-plus {
    background: rgb(89,48,240);
background: -moz-linear-gradient(317deg, rgba(89,48,240,1) 0%, rgba(108,72,239,1) 100%);
background: -webkit-linear-gradient(317deg, rgba(89,48,240,1) 0%, rgba(108,72,239,1) 100%);
background: linear-gradient(317deg, rgba(89,48,240,1) 0%, rgba(108,72,239,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5930f0",endColorstr="#6c48ef",GradientType=1);
color: #fff
}



.btn-del {
    padding: 0px;
    border-radius: 4px;
    
}