/*There are the styles for the page preview*/
.page-container {   
    padding: 0px;
    position: relative;
    min-width: 100px;
    min-height: 300px;
}
.page {
    background-color: #fff;
    flex-shrink: 0;
    width: 1024px;
    height: 1448px;
    transform-origin: top left;
}