.walktrought {
    min-width: 100%;
    min-height: 100vh;
    background-color: $color-main;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.walktrought .step-points {
    display: flex;
    justify-content: center;
}
.walktrought .walk-img {width: 100%;}
.walktrought .point {
    width: 7px;
    height: 7px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: rgba($color: #fff, $alpha: 0.7);
}

.walktrought .point.active {
    background-color: rgba($color: #fff, $alpha: 1);
}


.walktrought button, .walktrought a {
    text-decoration: none;
    color: #000;
    background-color: $color-complementary;
    margin-left: 0px;
}