//*imports*/
@import './components/_global.scss';
@import './components/_cards.scss';
@import './components/_buttons.scss';
@import './components/_header.scss';
@import './components/_filterMenu.scss';
@import './components/_preview.scss';
@import './components/_forms.scss';
@import './components/_login.scss';
@import './components/_walktrought.scss';
@import './components/_userdata.scss';
@import './components/_page.scss';
@import './components/_templates.scss';
@import './components/_profile.scss';

//icons
.mobile-bottom-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;
}
.nav-item-container {
    position: absolute;
    left: 4px;
    display: flex;
    align-items: center;
}
.mobile-bottom-menu .nav-item {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    margin: 0 20px;
}
.mobile-bottom-menu .nav-item:first-of-type { margin-left: 0px;}
.mobile-bottom-menu .nav-item:last-of-type { margin-right: 0px;}

.mobile-bottom-menu .nav-item.active {
    position: relative;
    width: 28px;
    height: 28px;
    margin: 0px 80px 0px 0px;
    background-color: rgba($color: $color-main, $alpha: 1.0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    
    &::before{
        content: '';
        width: 36px;
        height: 36px;
        background-color: rgba($color: $color-main, $alpha: 0.6);
        border-radius: 50%;
        position: absolute;
        z-index: -100;
        left: -2px;
        box-shadow: 2px 0px 0px 5px rgba($color: $color-main, $alpha: 0.2);
        animation: grow 4s infinite;
    }
}
.mobile-icon {
    height: 18px;
    width: 18px;
}
.mobile-icon.home{background: url('../img//icons/home.svg') 0 / cover;}
.mobile-icon.search{background: url('../img//icons/search.svg') 0 / cover;}
.mobile-icon.export{background: url('../img//icons/pdfexport.svg') 0 / cover;}
.mobile-icon.profile{background: url('../img//icons/user.svg') 0 / cover;}

.nav-item.active .nav-item-container .mobile-icon.home{background: url('../img//icons/home-compl.svg') 0 / cover;}
.nav-item.active .nav-item-container .mobile-icon.search{background: url('../img//icons/search-compl.svg') 0 / cover;}
.nav-item.active .nav-item-container .mobile-icon.export{background: url('../img//icons/pdfexport-compl.svg') 0 / cover;}
.nav-item.active .nav-item-container .mobile-icon.profile{background: url('../img//icons/user-compl.svg') 0 / cover;}


.nav-item-container .mobile-description {display: none;}
.nav-item.active .nav-item-container .mobile-icon + .mobile-description {
    display: block;
    margin-left: 14px;
    color: $color-shade;
}

@keyframes grow {
    0% {
        transform: scale(0.7);
    }
    40% {
        transform: scale(1);
    }
    70% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.7);
    }
}


.text-center {text-align: center;}


.preview-header div {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.min-h-100v {min-height: 100vh;}